# USERPROFILE
%USERPROFILE*

.idea/
.vscode/
/.github*
*.sql

/keycloak
/ignore
ignoreCopy.ps1
*.zip
connect-backup1.json

.env
backBuild.ps1

front/.env.local
front/.next/*
front/node_modules/*
front/next.config.ts
front/package-lock.json

back/src/main/resources/*
back/build/*
back/bin/*
back/.gradle/*
back/gradle/*
